<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="text-info">What are you doing here? Go back! Now!</h1>
        <hr />
        <a class="btn btn-sm btn-outline-success" asp-controller="Movies" asp-action="Index">Home Page</a>
    </div>
</div>